<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Home</title>
    <link rel="shortcut icon" href="assets/favicon.ico?" />
    <link href="styles/index.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body id="body">
    <script src="scripts/index.js"></script>
    <aside id="sidebar">
        <header id="sidebar-header">
            <div id="auth">
                <img src="assets/jc_boc.png" alt="JClogo" id="jc_logo" />
                <h2 id="auth-name">Jacob Chisholm</h2>
            </div>
            <p id="auth-about">I love robotics, programming and electrical all to much to decide which one to pursue professionally. Currently enrolled in Applied Science at Queens University.</p>
        </header>
        <footer id="sidebar-footer">
            <section class="info">
                <h4 id="contact-header"><span>Contact</span></h4>
                <ul>
                    <li id="github">
                        <a href="http://github.com/jchisholm204">
                            <img src="assets/GitHub.png" alt="git" />
                        </a>
                    </li>
                    <li id="linkedin">
                        <a href="https://www.linkedin.com/in/jacob-chisholm-a2a007253/">
                            <img src="assets/linkedin.png" alt="linkedin" />
                        </a>
                    </li>
                    <li id="email">
                        <a href="mailto:jacobchisholm1010@gmail.com">
                            <img src="assets/mail.png" alt="mail" />
                        </a>
                    </li>
                    <li id="instagram">
                        <a href="https://www.instagram.com/jchisholm204/">
                            <img src="assets/instagram.jpg" alt="insta" />
                        </a>
                    </li>
                </ul>
            </section>
        </footer>
    </aside>
    <div class="posts" id="page-content">
        <article class="article">
            <a href="/pages/fsae_cal.html" class="article-img" style="background-image: url(/assets/fsae/screenshot_git.png)"></a>
            <a class="article-content" href="/pages/fsae_cal.html">
                <h2 class="article-title">Queen's FSAE: CAL</h2>
                <p class="article-descript">
                    CAL: CAN Abstraction Layer<br />
                    A project originally proposed by our team lead Ethan Peterson.
                    CAL employs simple decoding logic to translate CAN messages coming off
                    of the MoTec ECU and PDM.
                </p>
            </a>
        </article>
        <article class="article">
            <a href="/pages/frc_ballindexing.html" class="article-img" style="background-image: url(./assets/frc/robot_side_left.jpg)"></a>
            <a class="article-content" href="/pages/frc_ballindexing.html">
                <h2 class="article-title">First Robotics 2022: Ball Indexing Algorithm</h2>
                <p class="article-descript">
                    A complete overview of the ball sorting/indexing system I designed. <br />
                    Starting with an intro to the sensors and finishing with the code,
                    this article is a full deep dive into how I made the ball sorting/indexing
                    system for the 2022 FRC robot.
                </p>
            </a>
        </article>
        <article class="article">
            <a href="/pages/timebot.html" class="article-img" style="background-image: url(/assets/timebot/logo.png)"></a>
            <a class="article-content" href="/pages/timebot.html">
                <h2 class="article-title">TimeBot: A Python Discord Bot</h2>
                <p class="article-descript">
                    An hour tracking, statistics generating, music playing discord bot.
                    <br /> Created at the height of the pandemic using DiscordPY, this discord bot
                    was originally developed for statistical analysis of time spent using the popular
                    voice platform "Discord".
                </p>
            </a>
        </article>
        <article class="article">
            <a href="/pages/frc_electrical.html" class="article-img" style="background-image: url(/assets/frc/elec_board_main.jpg)"></a>
            <a class="article-content" href="/pages/frc_electrical.html">
                <h2 class="article-title">First Robotics 2022: Electrical Subsystem</h2>
                <p class="article-descript">
                    A brief summary of my work done while competing in the First Robotics
                    Competition on teams 6364 and 6486. <br />
                    This section in particular focuses on my work for the electrical subsystem,
                    including but not limited to my work with the CAN bus and on the main electrical
                    board.
                </p>
            </a>
        </article>
        <article class="article">
            <a href="/pages/vex_lvgl.html" class="article-img" style="background-image: url(/assets/vex/logo_pros.png)"></a>
            <a class="article-content" href="/pages/vex_lvgl.html">
                <h2 class="article-title">Vex Robotics: LVGL Display</h2>
                <p class="article-descript">
                    Going from PROS Legacy to Light and Versatile Graphics Library. (LVGL) <br />
                    While the legacy display works great for displaying simple info,
                    the LVGL graphics library provides a much cooler looking version
                    of the exact same information, with the added cost of being much
                    harder to use.  But it has drop downs!
                </p>
            </a>
        </article>
        <article class="article">
            <a href="/pages/tentonbot.html" class="article-img" style="background-image: url(/assets/tentonbot/logo_tenton.jpg)"></a>
            <a class="article-content" href="/pages/tentonbot.html">
                <h2 class="article-title">Python Discord Bot #2: TenTonBot</h2>
                <p class="article-descript">
                    The second (sort of) discord bot I've made to date: TenTonBot. <br />
                    While running tournaments for the Ten Ton Robotics Academy I realized that
                    during almost every tournament, with almost every team, we had a problem with
                    people arriving on time for matches. - This is how I solved that problem with Python.
                </p>
            </a>
        </article>
        <article class="article">
            <a href="/pages/vex_lidaralign.html" class="article-img" style="background-image: url(/assets/vex/robot_top.jpg)"></a>
            <a class="article-content" href="/pages/vex_lidaralign.html">
                <h2 class="article-title">VEX: Lidar Alignment</h2>
                <p class="article-descript">
                    Using V5 Lidars to align the robot to a goal post.<br />
                    While pretty much useless during the driver control period,
                    and better replaced by a vision system,
                    this system works pretty well for ensuring a goal within
                    the autonomous.
                </p>
            </a>
        </article>
    </div>
</body>
</html>