html{
    min-height: 100vh;
    margin: 0 auto;
    background: 
    radial-gradient(rgb(200, 200, 255), white);
}

body{
    color: black;
}

header{
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 20px;
}

header #home_button{
    height: 100%;
    padding-left: 20px;

}

header #home_button img{
    height: 100%;
    width: auto;
}

header #nav_bar{
    display: flex;
    justify-content: space-between;
    padding-right: 25px
}

header #nav_bar a{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    transition: 300ms ease-in-out;
    text-decoration: none;
    padding: 20px;
}

header #nav_bar a:hover{
    transform: scale(1.125);
    text-underline-offset: 8px;
    text-decoration: underline;
}

#page-content{
    height: 100%;
    font-family: sans-serif;
    padding: 40px;
    margin: auto;
    max-width: 1000px;
    justify-self: center;
}

#page-content h1{
    font-size: 60px;
}


footer{
    text-align: center;
}

.info h4{
    width: 80%;
    border-bottom: 1px solid black;
    line-height: 0.1em;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;
}
.info h4 span{
    background: white;
    padding: 8px;
}

.info ul{
    display: inline-flex;
    list-style: none;
    padding: 0px;
}
.info li{
    padding: 10px;
    transition: 120ms ease-in-out;
}
.info li:hover{
    transform: scale(1.08);
}

.posts{
    display: grid;
    row-gap: 10px;
    margin-left: 245px;
}

.article{
    display: flex;
    border: none;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 0px;
    /*min-width: 400px;*/
    max-width: 1000px;
    height: 100%;
    width: auto;
    overflow: hidden;
    transition: 200ms ease-in-out;
}
.article:hover {
    transform: translate(-2px, -2px);
}

.article:hover .article-img{
    transform: scale(1.03);
}

.article-img {
    transition: 200ms ease-in-out;
    transform: scale(1);
    width: 45%;
    height: 100%;
    min-height: 11rem;
    background-size: cover;
    background-position: center;
    display: flex;
}
.article-content{
    width: 100%;
    margin: 10px 20px 5px 20px;
    display: flex;
    text-decoration: inherit;
    flex-direction: column;
    justify-content: space-between;
    color: inherit;
}

.article-content .date{
    width: 100%;
    text-align: right;
}
.article-title{
    padding-bottom: 10px;
}